<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="git" />
    <package id="ConEmu" />
    <package id="SourceCodePro" />

    <package id="python2" />
    <package id="ruby" />
    <package id="ruby2.devkit" />

    <package id="vim" />
    <package id="atom" />

    <package id="GoogleChrome" />
  </packages>
</xml>
