[user]
	name = Matt Travi

[github]
    user = travi

[diff]
	renames = copy

[color]
	ui = true

[color "status"]
    added = green
    changed = yellow
    deleted = red
    untracked = magenta

[core]
	autocrlf = input

[push]
	default = simple

[branch]
	autorebase = always

[alias]
    ad = add -A
    st = status
    lg = log -20 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr by %an)%Creset' --abbrev-commit --date=relative

    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v

    # Remove branches that have already been merged with master
    # a.k.a. ‘delete merged’
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

    # List contributors with number of commits
    contributors = shortlog --summary --numbered

[include]
    path = ~/.gitconfig.extra
