vim/.vim/bundle
**/.netrwhist
.idea
.apm
thefuck/.thefuck/**/*.pyc
atom/.atom/packages/*
!atom/.atom/packages/parcel/
.kitchen/
.kitchen.local.yml
.thefuck-cache.db
vagrant/.vagrant.d/*
!vagrant/.vagrant.d/Vagrantfile
.bundle/
vendor/
