vim/.vim/bundle
**/.netrwhist
.idea
.apm

thefuck/.thefuck/**/*.pyc
.thefuck-cache.db

atom/.atom/packages/*
atom/.atom/local-history
atom/.atom/blob-store/
!atom/.atom/packages/parcel/

ruby/.rbenv/shims/
ruby/.rbenv/versions/
.kitchen/
.kitchen.local.yml

subversion/.subversion/auth

vagrant/.vagrant.d/*
!vagrant/.vagrant.d/Vagrantfile

.bundle/
vendor/

gpg/.gnupg/*
!gpg/.gnupg/gpg.conf
!gpg/.gnupg/gpg-agent.conf

code/webstorm/preferences/webstorm120.key
code/webstorm/preferences/port*
code/webstorm/preferences/tasks
code/webstorm/preferences/options/dimensions.xml
code/webstorm/preferences/options/extensionsRootType.xml
code/webstorm/preferences/options/feature.usage.statistics.xml
code/webstorm/preferences/options/find.recents.xml
code/webstorm/preferences/options/options.xml
code/webstorm/preferences/options/other.xml
code/webstorm/preferences/options/recentProjectDirectories.xml
code/webstorm/preferences/options/statistics.application.usages.xml
code/webstorm/preferences/options/usageView.xml
code/webstorm/preferences/options/window.manager.xml
