# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'atom-workspace':
    'alt-f1': 'tree-view:reveal-active-file'

'atom-workspace atom-text-editor:not([mini])':
    'ctrl-shift-j': 'editor:join-lines'
    'shift-enter': 'editor:newline-below'

'.platform-darwin':
    'shift-cmd-n': 'fuzzy-finder:toggle-file-finder'
    'cmd-1': 'tree-view:toggle'

'.platform-darwin atom-workspace':
    'cmd-shift-a': 'command-palette:toggle'
    'cmd-shift-f': 'project-find:show'
    'cmd-shift-r': 'project-find:show'

'.platform-darwin atom-workspace atom-text-editor:not([mini])':
    'cmd-r': 'find-and-replace:show'

'.platform-darwin .tree-view':
    'cmd-1': 'tree-view:toggle'
    'cmd-n': 'tree-view:add-file'
    'ctrl-n': 'tree-view:add-file'
    'f6': 'tree-view:move'
    'shift-f6': 'tree-view:move'

'.editor':
    'cmd-y': 'editor:delete-line'
    'cmd-alt-l': 'atom-beautify:beautify-editor'

'.workspace .editor':
    'cmd-shift-down': 'editor:move-line-down'
    'cmd-shift-up': 'editor:move-line-up'

'body':
    'cmd-f4': 'core:close'

'.platform-darwin .editor':
    'cmd-g': 'go-to-line:toggle'
    'cmd-d': 'editor:duplicate-lines'

'.platform-darwin atom-text-editor':
    'f3': 'find-and-replace:find-next'
    'shift-f3': 'find-and-replace:find-previous'

'atom-text-editor':
    'cmd-w': 'expand-region:expand'
    'shift-cmd-w': 'expand-region:shrink'

'atom-text-editor:not(.mini)':
    'shift-f6': 'refactor:rename'
