packages: [
  "achievements"
  "atom-beautify"
  "atom-mermaid"
  "atom-pair"
  "auto-update-packages"
  "autocomplete"
  "busy-signal"
  "caniuse"
  "color-gutter"
  "composer"
  "editorconfig"
  "emmet"
  "expand-region"
  "feedback"
  "file-icons"
  "github-issues"
  "grunt-runner"
  "intentions"
  "js-refactor"
  "language-cshtml"
  "language-docker"
  "language-gherkin"
  "language-gitignore"
  "language-ini"
  "language-mermaid"
  "language-puppet"
  "language-sln"
  "language-tmux"
  "language-viml"
  "linter"
  "linter-js-yaml"
  "linter-markdownlint"
  "linter-node-markdownlint"
  "linter-puppet-lint"
  "linter-scss-lint"
  "linter-shellcheck"
  "linter-ui-default"
  "local-history"
  "merge-conflicts"
  "npm-install"
  "package-sync"
  "react"
  "refactor"
  "release-notes"
  "svg-preview"
  "travis-ci-status"
  "turbo-javascript"
]
